*{
    box-sizing:border-box
}

h1{font-size: 45px;}
h2{font-size: 25px;}
p{font-size: 17px;}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    
}

button{
    font-size: 10px ;
    font-weight: bold;
    padding: 25px 75px ;
    border-radius: 20px ;
    border: 5px solid black;
    box-shadow: 2px 2px 10px rgba(0,0,0,5 );
    color: aliceblue;
    background-color: rgb(255, 119, 0);
}
button:hover{
    background-color: orangered;
}

.container{
    max-width:auto;
    margin: auto;   
}
header{
    background-color: rgb(255, 255, 255);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(247, 245, 244);
    font-size: 25px;

}
header .container{
    background-color: rgb(16, 16, 78);
    display:flex;
    flex-direction: column;
    align-items: center;

}

header > div > nav{
    display:flex;
    text-align: center ;
    padding-bottom: 35px;
}
header a{
    padding: 5px 25px;
    text-decoration:none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
header a:hover{
    color:  rgb(255, 89, 0);
}

.banner{
    position: relative;
    width: 100%;
    height:90vh; 
    background-color: rgb(147, 138, 157);  
    background-size: cover;
    background-position: center center;
    transition: all .1s ease-in-out;
    background-image: url(DOC.IMG/testigo-cambio-aceite.webp);
    color: white;
}
.banner-content > h1 {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,22,40,1 );
    display: flex;
    flex-direction: column;
}
